# path:   /home/klassiker/.local/share/repos/superdrive/99-superdrive.rules
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/superdrive
# date:   2024-12-26T08:12:10+0100

# send bit sequence to apple superdrive
ACTION=="add" \
    ,ATTRS{idProduct}=="1500" \
    ,ATTRS{idVendor}=="05ac" \
    ,DRIVERS=="usb" \
    ,RUN+="/usr/bin/sg_raw /dev/$kernel ea 00 00 00 00 00 01"
